.header {
	margin-top: -20px;
	margin-left: -10px;
	width: 1519.2px;
	height: 161.2px;
	padding-top: 25px;
	background:/*#542185*/ url(../images/bg_01.jpg) no-repeat center center;
}
.mainwrap1 {
	width: 990px;
	height: 75.2px;
	margin: auto;
}
.topwraper {
	margin-top: 10px;
	margin-left: 10px;
	width: 990px;
	height: 75.2px;
	/*background: red;*/
}
.logo {
	width: 268px;
	height: 75.2px;
	background: url(../images/logo.png) no-repeat;
}
.search {
	width: 360.44px;
	height: 51px;
	float: left;
	margin-left: 310px;
	padding-top: 15px; 
}
.search input {
	border: 0;
	height: 36px;
	float: left;
	line-height: 34px;
	width: 290px;
	padding: 0 10px;
}
.search .a {
	margin-top: -36px;
	width: 30px;
    height: 36px;
	background: #f4930a;
	margin-left: 310px;
	padding: 0 10px;
	float: left;
}
.ulink {
	margin-top: -90px;
	width: 248.69px;
	height: 30px;
	margin-right: 26px;
	float: right;
	padding-top: 18px;
	/*background: blue;*/
}
.clearfix {
	width: 208.69px;
	height: 30px;
	/*background: red;*/
}
.socialnet1 {
	margin-left: -50px;
    width: 26px;
    height: 26px;
    float: left;
    padding: 2px;
    background: #ededed;   
}
.socialnet1:hover {
	background: #f4930a;
}
.socialnet2 { 
	margin-left: -15px;
    width: 26px;
    height: 26px;
    float: left;
    padding: 2px;
    background: #ededed;   
}
.socialnet2:hover {
	background: #f4930a;
}
.socialnet3 {
	margin-left: 5px;
    width: 26px;
    height: 26px;
    float: left;
    padding: 2px;
    background: #ededed;   
}
.socialnet3:hover {
	background: #f4930a;
}
.mr {
	margin-left: 5px;
	width: 82.69px;
	height: 25.6px;
	float: left;
	padding: 2px;
	background: #f4930a;
	color: #542185;
	text-align: center;
	font-size: 13px;
	line-height: 2em;
}
.mr:hover {
	background: #fff;
} 
.thuhome {
    margin-top: -40px;
	margin-left: 205px;
	width: 72px;
	height: 25.6px;
	float: left;
	color: white;
	font-size: 12px;
}
.thuhome:hover {
	color: #f4930a;
}
.navwrap {
	width: 1519.2px;
	height: 1px;
	border-top: 1px solid #9450df;
}
.mainwrap2 {
    width: 990px;
    margin: auto;
}
#nav {
	width: 990px;
}
.mainwrap2 li .current{
	float: left;
	font-size: 15px;
	display: block;
	border-bottom: 3px solid #f4930a;
}
.mainwrap2 li {
	float: left;
	font-size: 15px;
	display: block;
}
.mainwrap2 li a {
	color: #fff;	
	padding: 0 12px;
	line-height: 60px;
	text-decoration: none;
}
#nav li a:hover {
	color: #f4930a;
}
.list {
	margin-top: 3px;
	display: none;
	position: absolute;
	z-index: 100;
	width: 150px;
	padding: 5px 0;
	margin-left: -35px;
	height: auto;
	box-shadow: 0px 0px 5px #666;
}
.list li {
	float: none;
	display: block;
	border: none;
	background: none;
	height: auto;
	padding: 0;
}
.list li p {
	width: auto;
	font-size: 14px;
	line-height: 24px;
	display: block;
	background: #fff;
	height: auto;
	float: none;
	border: none;
	text-align: center;
	color: #2F124A;
}
.item:hover .list {
	display: block;
	background: #fff; 
}
.content {
	margin-top: -10px;
	margin-left: -10px;
	width: 1519.2px;
	height: 2709px;
	background: #f4f6f6 url(../images/bg_02.jpg) center top no-repeat;
}
.topcontent {
	width: 1519.2px;
	height: 705px;
	padding: 40px 0 35px 0;
}
.colum1 {
	margin-left: 265px;
	width: 650px;
	height: 630px;
	float: left;
	background: #fff;
	position: relative;
}
.slideTxtBox {
	width: 650px;
	height: 615.4px;
}
.timelist {
	width: 486px;
	height: 70px;
	position: absolute;
	left: 0;
	z-index: 2;
}
.timelist li {
	width: 80px;
	height: 70px;
	color: #fff;
	float: left;
	font-weight: bold;
	display: block;
	font-size: 30px;
	text-align: center;
	position: relative;
	z-index: 0;
	padding-top: 0px;
	margin-right: 41px;
	line-height: 55px;
	margin-left: -40px;
}
.t1 .active {
/*	width: 80px;
	height: 70px;*/
	background: #fff;
	color: #542b70;
}
.timelist li:hover {
	opacity: 0.8;
}
.timelist li i {
	position: absolute;
    z-index: -1;
    background: #ffa800;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.timelist li span {
	display: block;
	font-size: 12px;
	margin-top: -10px;
	position: relative;
	line-height: 12px;
	font-weight: normal;
}
.timelist li .t1 {
	opacity: 1;
}
.timelist li .t2 {
	opacity: 0.9;
}
.timelist li .t3 {
	opacity: 0.8;
}
.timelist li .t4 {
	opacity: 0.6;
}
.timelist li .t5 {
	opacity: 0.5;
}
.timelist li .t6 {
	opacity: 0.4;
}
.forwnxt {
	width: 38px;
	height: 70px;
	margin-top: 346px;
	margin-left: 622px;
	position: absolute;
	margin-right: -10px;
	z-index: 2;
}
.forwnxt a {
	width: 38px;
    height: 35px;
	color: #fff;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	display: block;
	background: #7a3ab3;
}
.forwnxt .rightward {
	background: #533175;
}
.forwnxt a:hover {
	color: #f4930a;
}
img {
	width: 650px;
	height: 415.4px;
}
.figurewrap1 {
	margin-left: 40px;
	margin-top: 20px;
	width: 650px;
	display: block;
}
.figurewrap2 {
	margin-left: 40px;
	margin-top: 20px;
	width: 650px;
	display: none;
}
.figurewrap3 {
	margin-left: 40px;
	margin-top: 20px;
	width: 650px;
	display: none;
}
.figurewrap4 {
	margin-left: 40px;
	margin-top: 20px;
	width: 650px;
	display: none;
}
.figurewrap5 {
	margin-left: 40px;
	margin-top: 20px;
	width: 650px;
	display: none;
}
.figurewrap6 {
	margin-left: 40px;
	margin-top: 20px;
	width: 650px;
	display: none;
}
.node {
	font-size: 12px;
	color: #ff7800;
	text-decoration: none;
}
.node:hover {
	color: #333;
}
.colum1 h2 {
	color: #000;
	font-weight: normal;
	font-size: 18px;
}
.colum1 h2:hover {
	color: #ff7800;
}
.colum1 p {
	width: 570px;
	height: 96px;
    font-size: 12px;
	color: #777;
}
/*右边表单切换部分*/
.colum2 {
	width: 310px;
	float: right;
	margin-right: 265px; 
	background: #fff;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.newsBox {
	width: 310px;
	height: 1131.8px;
}
.hd {
	width: 310px;
	height: 56px;
}
.newslist {
	width: 310px;
	height: 56px;
	font-size: 14px;
}
.newslist .zhxw {
	width: 155px;
	height: 63px;
	line-height: 49px; 
	margin-left: -40px;
	margin-top: -14px;
	background: #fff;
	color: #ff7800;
	border-top:7px solid #685479;
	text-align: center;
}
.newslist .mtqh {
    width: 155px;
	height: 63px;
	line-height: 74px;
	margin-left: 115px;
	margin-top: -77px;
	float: left;
	color: #fff;
	background: #685479;
	text-align: center;
}
.bd {
	width: 310px;
	height: 1032.6px;
	/*background: blue;*/
}
.nlist {
	width: 308px;
	height: 973.4px;
	background: #fff;
	border: 1px solid #fff;
	border-top: 0;
	z-index: 1;
	padding-left: 0;
    padding-top: 15px;
    margin: 0;
}
.nlist li {
	width: 260px;
	height: 68.4px;
	border-bottom: 1px solid #eaeaea;
	margin: 0 24px 15px 24px;
	padding: 0px 0px 16px 0px; 
	list-style-type: none;
}
figure {
	width: 260px;
	height: 68.4px;
	margin: 0;
}
.time {
	color: #999;
	font-size: 12px;
}
figcaption {
	width: 260px;
	height: 49.2px;
}
h3 {    
	width: 260px;
	height: 27.6px;
	font-size: 14px;
	line-height: 22px;
	font-weight: normal;
	margin: 0;
	padding-top: 6px;
}
h3 a {    
	color: #444;
	text-decoration: none;
}
h3 a:hover {
	color: #ff7800;
}
.more {
	margin-left: 10px;
	border: 0;
	padding: 0;
	font-size: 12px;
	text-decoration: none;
	color: #333;
}
/*视频速递部分*/
.bottomcontent {
	width: 1519.2px;
	height: 2004px;
	padding: 1px 0 40px 0;
}
